h1 {
    text-align:center;
}

h2 {
    text-align: center;
}

h3 {
    text-align:center;
}

.container {
    background-color:rgb(255,255,255);
    padding: 10px 0;
}

.marker {
    margin: 10px auto;
    width:300px;
    height: 40px;
    text-align:center;
    vertical-align:middle;
    line-height:40px;
}

.one {
    color:white;
    background-color:rgb(255,0,0);
}

.two {
    background-color: rgb(0,255,0)
}

.three{
    color: white;
    background-color: rgb(0,0,255);
}

.four {
    background-color:rgb(255,255,0);
}

.five {
    background-color:rgb(0,255,255);
}

.six {
    background-color:rgb(255,0,255)
}

.seven {
    background-color: rgb(255,127,0);

}

.eight {
    background-color:rgb(0,225,127)
}

.nine {
    background-color: rgb(127,0,255);
}

.ten {
    background-color:rgb(127,255,0);
}

.eleven {
    background-color: rgb(0,127,255);
}

.twelve {
    background-color:rgb(255,0,127);
}

.oneH {
    color:white;
    background-color:#FF0000;
}

.twoH {
    background-color: #00FF00
}

.threeH {
    color: white;
    background-color: #0000FF;
}

.fourH {
    background-color:#FFFF00;
}

.fiveH {
    background-color:#00FFFF;
}

.sixH {
    background-color:#FF00FF;
}

.sevenH {
    background-color: #FF7F00;

}

.eightH {
    background-color:#00FF7F;
}

.nineH {
    background-color: #7F00FF;
}

.tenH {
    background-color:#7FFF00;
}

.elevenH {
    background-color: #007FFF;
}

.twelveH {
    background-color:#FF007F;
}

.oneHSL {
    background-color:hsl(0,100%,50%);
}

.twoHSL {
    background-color:hsl(120,100%,50%);
}

.threeHSL {
    color:#FFFFFF;
    background-color:hsl(240,100%,50%);
}

.fourHSL {
    background-color:hsl(60,100%,50%);
}

.fiveHSL {
    background-color:hsl(180,100%,50%);
}

.sixHSL {
    background-color:hsl(300,100%,50%);
}

.sevenHSL {
    background-color: hsl(39,100%,50%);
}

.eightHSL {
    background-color: hsl(150,100%,50%);
}

.nineHSL {
    background-color: HSL(270,100%,50%);
}

.tenHSL {
    background-color: hsl(90,100%,50%);
}

.elevenHSL {
    background-color:hsl(210,100%,50%);
}

.twelveHSL {
    background-color: hsl(330,100%,50%)
}

.thirteen {
    background: linear-gradient(90deg, RGB(255,0,0), RGB(0,255,0), RGB(0,0,255));
}

.fourteen {
    color:#FFFFFF;
/*    background: linear-gradient(180deg, RGB(122,74,14), RGB(245,62,113), RGB(162,27,27)) */
    background: linear-gradient(180deg, RGB(128,0,0), RGB(128,0,128), RGB(255,0,0));
}

.red {
    background: linear-gradient(90deg, #00FFFF, #0000FF, #000080)
}

.sleeve {
    width:150px;
    height:40px;
    background-color:white;
    opacity:0.5;
}

.sleever {
    width:150px;
    height:40px;
    background-color: rgba(255,255,255,0.5)
}
